<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



<body>
<div id="app">
  <%= render 'layouts/header' %>


  <section class="main-content columns is-fullheight">

    <%= render 'layouts/menu' %>
    <%= yield %>

  </section>

  <footer class="footer is-hidden">
    <div class="container">
      <div class="content has-text-centered">
        <p>Hello</p>
      </div>
    </div>
  </footer>

</div>
</body>
</html>